# =========================
# IDE
# =========================
.idea/
.vscode/
cmake-build-*/
build/

# =========================
# Build output
# =========================
*.o
*.elf
*.bin
*.hex
*.map
*.axf
*.list

# =========================
# Temporary files
# =========================
*.tmp
*.log
*.bak
*.swp

# =========================
# Windows
# =========================
Thumbs.db
desktop.ini

# Large video files
*.mp4
*.mov
*.avi